.timeline-view {
  display: flex;
  justify-content: center;
   position: relative;
}
.timeline-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
    width: 95%;
    overflow-x: scroll;
     margin-bottom: 55px;
     background-color: grayscale($color: #2e2e2e)!important;
     margin-top: 55px;
   
}

.topo {
   
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: grayscale($color: #2e2e2e)!important;
    position: fixed;  
    top: 0; 
    width: 95%;  
   max-width: 95%;
    transition: top 0.3s;
    z-index: 100;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
}

.footer {
    position: fixed;
    left: calc(100% -60px);
    bottom: 0;
    width: 60px;
    background-color: transparent;
    height: 60px;
    border-width: 0px;
  }

  .mat-icon {
      color: gray;
  }

  .titulo {
    color: gray;
    font-size: 16px;
    
  }

  html, body {
 
    background-color: grayscale($color: #292929)!important;
   
 
}


#navbar {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}