<div class="timeline-view" *ngIf="timeLineService.admin.timeline">
  <div id="navbar" class="navbar topo" *ngIf="user">
    <span><img *ngIf="user" class="avatar" src="{{ user?.photoURL }}"/></span>
    <span class="titulo">{{ user?.displayName }}</span>
    <button mat-icon-button (click)="sair()" name="sair">
      <mat-icon class="mat-icon">exit_to_app</mat-icon>
    </button>
  </div>
  <div class="timeline-container" *ngIf="user">
    <app-timeline-mensagem
      *ngFor="let item of mensagens | async"
      [mensagem]="item"
      [mostrarFavoritos]="timeLineService.admin.favoritos"
      [currentUser]="user"
    ></app-timeline-mensagem>
  </div>
  <app-timeline-footer
    *ngIf="timeLineService.admin.formHabilitado"
  ></app-timeline-footer>
</div>
