<div class="mensagem-container">
  <div class="topo-container">
    <img class="avatar" src="{{ mensagem.avatar }}" />
    <div class="nome">{{ mensagem.nome }}</div>
  </div>

  <div class="imagem-container" *ngIf="mensagem.imagem">
    <img class="imagem-mensagem" src="{{ mensagem.imagem }}" />
  </div>

  <div class="texto" *ngIf="mensagem.texto">
    {{ mensagem.texto }}
  </div>
  
  <div class="rodape-container">
    <div>
      <app-mensagem-favorito
        *ngIf="mostrarFavoritos"
        [mensagemId]="mensagem.id"
      ></app-mensagem-favorito>
    </div>
    <div>
      <small class="horario">{{ mensagem.time | amTimeAgo: true }}</small>
    </div>
  </div>
</div>
